button{
	border-radius: 5px;
}
.navbar{
	padding: 10px 10% 10px 10%;
}
nav{
	background-color: #563D7C;
	color: #EEECF2; 
}
.navbar-light .navbar-brand{
	color: #EEECF2; 
}
.tbl-student{
	padding: 10px 10% 10px 10%;
}
.modal-content{
	padding: 5px 15px 5px 10px;
}
#info-student{
	width: 80%;
	margin: 0 10% 0 10%;
	background: #64B5F6;
	padding: 0 30px 30px 30px;
}
.form-infor{
	padding: 10px 20px 10px 20px;
	border: 2px solid white;
}
.infor-student-name{
	font-size: 30px;
	text-align: center;
}
#login-form{
	margin: 50px 20% 0 20%;
    border: 1px solid #bce8f1;
    border-radius: 4px;
}
#login-form .login-head{
	color: #31708f;
    background-color: #d9edf7;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
}
#login-form .login-body{
	padding: 10px 20px 10px 20px;
}